<footer>
  <div class="inner-footer-div">
    <div class="student-links">
      <span>Made by:</span>
      <div class="git-links">
        <a href="https://github.com/Brianjanes" target="_blank">Brian Janes</a>
        <span>||</span>
        <a href="https://github.com/kyhol" target="_blank">Kyle Hollett</a>
        <span>||</span>
        <a href="https://github.com/BradTheeStallion" target="_blank">Brad Ayers</a>
      </div>
    </div>
    <div class="left-side">
      <p>&copy; 2024 Cool Movie Website</p>
    </div>
  </div>
</footer>
</body>
</html>