<%- include('./head', { title: title || 'Movie Gallery' }) %>
<header>
  <div class="header-img-top"></div>
  <div class="link-div">
    <div class="links">
      <a href="/">Home</a>
      <a href="/top-rated-movies">Top Rated Movies</a>
      <a href="/random">Random Movie</a>
      <a href="/upcoming">Upcoming Movies</a>
    </div>
  </div>
</header>