<header>
  <div class="header-img-top"></div>
  <div class="link-div">
    <div class="links">
      <a href="/">Home</a>
      <a href="/top-rated-movies">Top Rated Films</a>
      <a href="/random">Random Movie</a>
      <a href="#">Up and Coming Films</a>
    </div>
  </div>
</header>
