<header>
  <div class="header-inner-div">
    <span>Blockbuster Video</span>

    <div class="link-div">
      <a href="/">Home</a>
      <a href="#">Top Rated Films</a>
      <a href="/random">Random Movie</a>
      <a href="#">Up and Coming Films</a>
    </div>
  </div>
</header>
