<html lang="en">
  <head>
    <title>movie!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="main-content">
      <h1>
        <p><%= movie %></p>
      </h1>
    </main>
  </body>
</html>
