<html lang="en">
  <head>
    <title>Random Movie</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="main-content">
      <% if (movie) { %>
      <p>ID: <%= movie.id %></p>
      <p>Title: <%= movie.title %></p>
      <% } else { %>
      <p>No movie found</p>
      <% } %>
    </main>
  </body>
</html>
