/* Base styling, feel free to remove or alter */

body {
  background: linear-gradient(
    90deg,
    rgba(93, 142, 251, 1) 0%,
    rgba(93, 142, 251, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}

.main-content {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.main-content h1 {
  font-size: 50px;
}

header {
  max-width: 100dvw;
  width: 100%;
  height: 88px;
  border-bottom: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner-div {
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

header span {
  font-size: 2rem;
  margin: 16px;
  font-weight: bolder;
  margin-left: 1rem;
}
header .link-div {
  display: flex;
  gap: 1rem;
}

header a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder;
  color: whitesmoke;
}

header a:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}
